<section class="ad">
    <div>
        <h2>咬一口就無法忘懷的漢堡</h2>
        <p>七夕無法錯過的好滋味</p>
        <p><i class="fa fa-cutlery" aria-hidden="true"></i>Rainbow 漢堡<i class="fa fa-cutlery" aria-hidden="true"></i></p>
    </div>
</section>