<footer>
    <section>
        <h6>關於 Rainbow 餐廳</h6>
        <p>Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. </p>
    </section>
    <section>
        <h6>聯絡方式</h6>
        <ul>
            <li>高雄市中正五路到底</li>
            <li>+886 886 886</li>
            <li>rainbow@service.com</li>
        </ul>
    </section>
    <section>
        <h6 class="logo">Rainbow 餐廳</h6>
        <ol>
            <li class="g">google+</li>
            <li class="tw">twitter</li>
            <li class="fb">facebook</li>
        </ol>
    </section>
</footer>