<header>
  <section>
    <h1><a href="/">Rainbow 餐廳</a></h1>
    <nav>
      <a class="menu" href="">
        <span>選單</span>
      </a>
      <ul class="link">
        <li>
          <a href="/#features">特色</a>
        </li>
        <li>
          <a href="/#chef">主廚</a>
        </li>
        <li>
          <a href="/#restaurant">地圖</a>
        </li>
      </ul>
    </nav>
  </section>
</header>