<header>
  <section>
    <h1><a href="/">Rainbow 餐廳</a></h1>
    <nav>
      <a class="menu" href="">
        <span>選單</span>
      </a>
      <ul class="link">
        <li>
          <a href="/#features">特色</a>
        </li>
        <li>
          <a href="/#chef">主廚</a>
        </li>
        <li>
          <a href="/#restaurant">地圖</a>
        </li>
        <li>
          <a href="/cart">線上訂購</a>
        </li>
        <li>
          <a href="/register">註冊</a>
        </li>
        <li>
        <% if(session.uid){ %>
            <a><%= session.user %></a>
        <% } %>
        <% if(!session.uid){ %>
            <a href="/login">登入</a>
        <% } %>
        </li>
      </ul>
    </nav>
  </section>
</header>