<% layout('../partials/layout') -%>
<% block('ad', partial('../partials/ad')) -%>
<div class="system">
  <form action="/system/addProduct" method="post">
    <div>
      <label for="product">product</label>
      <textarea name="product" id="product"></textarea>
    </div>
    <div class="button">
      <button type="reset">取消</button>
      <button type="submit" class="submit">送出</button>
    </div>
  </form> 
  <form action="/system/addTag" method="post">
    <div>
      <label for="tag">tag</label>
      <input type="text" name="tag" id="tag">
    </div>
    <div class="button">
      <button type="reset">取消</button>
      <button type="submit" class="submit">送出</button>
    </div>
  </form> 
</div>
