<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel='stylesheet' href='/css/app.css' />
  </head>
  <body>
    <% include ../partials/header %>
    <% include ../partials/ad %>
    <main>
      <!--<div class="system">
        <h2><%= message %></h2>
        <a href="/">回首頁</a>
      </div>-->
      <div class="system">
        <form action="/system/addProduct" method="post">
          <div>
            <label for="product">product</label>
            <textarea name="product" id="product"></textarea>
          </div>
          <div class="button">
            <button type="reset">取消</button>
            <button type="submit" class="submit">送出</button>
          </div>
        </form> 
        <form action="/system/addTag" method="post">
          <div>
            <label for="tag">tag</label>
            <input type="text" name="tag" id="tag">
          </div>
          <div class="button">
            <button type="reset">取消</button>
            <button type="submit" class="submit">送出</button>
          </div>
        </form> 
      </div>
    </main>
    <% include ../partials/footer %>
  </body>
</html>
